# Cau hinh server
PORT=5000
CORS_ORIGIN=http://localhost:3000

# Cau hinh MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=online_book_reader

# JWT
JWT_SECRET=doi-chuoi-nay-thanh-bi-mat-cua-ban
JWT_EXPIRES_IN=1d
